<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.bootcdn.net/ajax/libs/vue/2.6.12/vue.common.dev.js"></script>
    <title>Document</title>
    <style>
        .red{
            color: red;
        }
        [v-cloak]{
            display: none;
        }
    </style>
</head>

<body>
    <div id="app">
        <!-- <div v-show="isSure">我叫山鸡，jb的鸡</div>
        <div>乌鸦哥</div> -->
        <!-- <div class="item" v-for="item in people" :key="index">
            <p>{{item.name}}-{{item.age}}</p>
        </div> -->
        <!-- <div class="msg">
            <span>{{message}}</span><br/>
            <span v-text="message"></span><br/>
            <span v-html="newMessage"></span>
        </div> -->
        <!-- <div class="count">
            <p>{{count}}</p>
            <button v-on:click="add">+</button>
            <button @click="reduce">-</button>
        </div> -->
        <!-- <div class="model">
            <p>{{message}}</p>
            <p> v-model: <input type="text" v-model="message"/></p>
        </div> -->
        <!-- 
        <div class="pic">
            <img :src="imgSrc" alt="">
        </div> -->
        <!-- <div @click="changecolor"v-bind:class="{red: isRed}">欧巴凯很帅</div> -->

        <!-- <div v-pre>{{message}}</div> -->

        <!-- <div v-cloak>{{message}}</div> -->
        <!-- 
        <div v-once>{{message}}</div>
       <input type="text" v-model="message"/> -->
    
    </div>

    <script>
        var app = new Vue({
            el: '#app',
            data: {
                className1: 'active',
                className2: 'wrapper',
                message: 'Hello world',
                isRed:false,
                newMessage:'<h2>Hello world</h2>',
                imgSrc:'https://ss0.bdstatic.com/94oJfD_bAAcT8t7mm9GUKT-xh_/timg?image&quality=100&size=b4000_4000&sec=1598252072&di=0043947a2fe27c8986c2bebec8179fe9&src=http://p1.ssl.cdn.btime.com/t019ff04168eafd32b5.jpg?size=800x1200',
                isSure: false,
                count:0,
                list: ['a', 'b', 'c', 'd'],
                people: [
                    { name: 'aa', age:'18'},
                    { name: 'bb', age:'19'},
                    { name: 'cc', age:'20'}
                ]
            },
            methods: {
                changecolor() {
                    // console.log('123');
                    this.isRed = !this.isRed
                },
                add() {
                    // console.log('666');
                    this.count++
                },
                reduce() {
                    this.count--
                }
            },
            beforeCreate() {
                console.log('beforeCreate');
            },
            created() {
                console.log('created');
            },
            beforeMount() {
                console.log('beforeMount');
            },
            mounted() {
                console.log('mounted');
            },
            beforeUpdate() {
                console.log('beforeUpdate');
            },
            updated() {
                console.log('updated');
            },
            beforeDestroy() {
                console.log('beforeDestroy');
            },
            destroyed() {
                console.log('destroyed');
            }

        })
    </script>
</body>

</html>